<div class="ticket-list">

 
  <button (click)="displayTicketArchived = !displayTicketArchived">
    {{displayTicketArchived ? 'Cacher' : 'Montrer'}} les tickets
  </button>
  <div class="ticket" *ngFor="let ticket of ticketList">

    
      <span *ngIf="!ticket.archived || displayTicketArchived">
        <app-ticket [ticket]="ticket" (ticketHasBeenSelected)="ticketHasBeenSelected($event)"
          (ticketHasBeenArchived)="ArchiveTicket($event)" (delete)="deleteTicket($event)"></app-ticket>
      </span>
    </div>



  
  
</div>